*{
    margin:0 auto;

}
body{
    font-family: 'popins', sans-serif;
}
.header-top{
    width:90%;
    height: 500px;
    background-color: #fff;
    margin: 0 auto;
}
.header-top h3{
    margin-top: 60px;
    margin-left: 75px;
}

.header{
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.top-header{
    margin-top: 100px;

}
.top-header h2{
    font-size: 45px;
    margin-left: 0px;
}
.top-header p{
    margin: 15px 0px;
}
.top-header-img img{
    border: 2px solid gray;
    border-radius: 50%;
    padding: 15px;
}
.top-header-button{
    background-color: indianred;
    color: #fff;
    padding: 8px 18px;
    border-radius: 20px;
}

 /* ----------------------------
     Popular Section Start
  ------------------------- */

.populars-section{
    margin-top: 50px;
}
  .container{
    width: 80% auto;
}
.second-section{
    text-align: center;
}

.container{
    margin-top: 25px;
}

.popular{
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.popular-section{
    background-color: lavenderblush;
    padding: 15px 12px;
    border-radius: 5px;

}
.popular-section h1{
    margin: 10px 0px;
}
.popular-section h2{
    margin-bottom: 10px;
}
.mark-icon{
    display: flex;
    float: left;
}
.mark-icon i{
    font-size: 8px;
    color: lightcoral;
}
.mark-tow p{
    margin-left: 10px;
}

/* ----------------------------
     Popular Section end
  ------------------------- */
  .grid-ary{
      text-align: right;
      padding: 20px 65px;
      color: red;

  }

/* -----------------
       footer section Start
       -------------------- */

.footers-section{
    width: 100%;
    height: 140px;
    background-color: slateblue;
    text-align: center;
    color: #fff;
    padding-top: 40px;
}
.footers-section h3{
    font-size: 27px;
}